@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #fff;
    color: black;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    pointer-events: none;
}
.navbar a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin-left: 35px;
}
.navbar a:hover,
.navbar a.active{
    color: crimson;
}
.home{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 30px;
    font-weight: 700;
}
.home-content h3{
    font-weight: 400;
}
.social{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.social a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.social a{
    color: black;
}
.social a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: crimson;
    z-index: -1;
    transition: .5s ;
}
.social a:hover::before{
    width: 100%;
}
.img-sec{
    width: 410px;
    height: 410px;
}
.img-sec .glow-img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-sec .glow-img::after{
    content: '';
    position: absolute;
    width: 390px;   
    height: 390px;
    background: white;
    border-radius: 50%;
}
.glow-img span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(crimson, red);
    border-radius: 50%;
}
.glow-img span:nth-child(1){
    filter: blur(10px);
}
.glow-img .image{
    position: relative;
    width: 380px;
    height: 380px;
    
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}
.image img{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 350px;
    object-fit: cover;
}

@keyframes showRight{
    100%{
        width: 0;
    }
}